body {
    background: #f2f2f2;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

#status {
    height: 20px;
    font-size: 16px;
    color: red;
}
