body {
    background: #f2f2f2;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}
